<div class="header">

    <div class="row">
        <img src="/img/logo.png" alt="Sehilnlf" class="logo">

    </div>
    <div class="row">
        <p>english grammar correction tool</p>
    </div>
</div>
