<div class="sidebar text-dark p-3">
    <h4 class="text-left">NONAME</h4>
    <p class="text-left">automated essay grading tool</p>
    <div class="profile my-3 text-center">
        
        <p></p>
        <h6 class="mb-1">Bùi Khánh Linh</h6>
        
        <span class="badge custom-badge">Nhóm trưởng</span>
    </div>
   
    <ul class="nav flex-column justify-content-center ms-4">
        <p></p>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/mylibrary">Thư viện của tôi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Cài đặt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/user-profile">Hồ sơ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Đăng xuất</a>
        </li>
    </ul>

</div>
