@import 'variables';


/* Header Styles */
.header {
    // display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: $white-color; /* Optional background color */
}

.header .logo {
    max-width: 13%;
    height: auto;
    display: block;
}

.header p {
    text-align: left;
    font-family: Arial;
    font-size: 17px;
    // margin: 0;
    margin-left: 10px;
    // align-self: flex-start;
    font-weight: bold;
}


/* app.css */
html, body {
    height: 100%;
    margin: 0; 
}
body { 
    // position: fixed;
    // position: relative;
    font-family: Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400vh;
    background-color: $white-color;
    color: $black-color;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 50px;
}

h1 {
    font-size: 72px;
    font-family: 'Brush Script MT', cursive;
    margin: 0;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

.button {
    background-color: $black-color;
    color: $white-color;
    padding: 5px 50px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 0px;
    // width: 200px;
    text-align: center;
    justify-items: center;
}

.button:hover {
    background-color: $black-color;
}

footer {
    background-color: $black-color;
    color: $white-color;
    // padding: 10px 0;
    // font-size: 14px;
    // margin-top: 400px;
    padding: 10px 0;
    font-size: 14px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer span {
    margin: 0 10px;
}


// /*GRAMMAR*/
// .grammar .correction-container {
//     // display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 20px 0;
// }

// .grammar .triangle-left {
//     width: 100px;
//     height: 0;
//     border-left: 50px solid transparent;
//     border-right: 50px solid transparent;
//     border-bottom: 50px solid $black-color;
//     margin: 0 20px;
//     align-items: left;
// }

// .grammar .triangle-right {
//     width: 100px;
//     height: 0;
//     border-left: 50px solid transparent;
//     border-right: 50px solid transparent;
//     border-bottom: 50px solid $black-color;
//     margin: 0 20px;
//     margin-left: auto;
// }

// .grammar .text-box {
//     border: 2px solid $black-color;
//     padding: 20px;
//     margin: 0 10px;
//     width: 550px;
//     height: 190px;
//     display: flex;
//     justify-content: left;
//     align-items: flex-start; /* Align items to the top */;
//     text-align: left;
//     text-align: top;
//     margin-top: 20px;
//     border-radius: 10px;

// }

// .grammar .text-box form {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
// }

// .grammar form {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
// }

// .grammar textarea {
//     border: 2px solid $black-color;
//     padding: 20px;
//     margin: 0 10px;
//     width: 550px;
//     height: 190px;
//     display: flex;
//     justify-content: left;
//     align-items: flex-start; /* Align items to the top */;
//     text-align: left;
//     text-align: top;
//     margin-top: 20px;
//     border-radius: 10px;

//     // resize: none;
//     background-color: $white-color;
// }
.grammar .form-and-textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Adjust the space between form and text box */
}

.grammar .correction-container {
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

// .grammar .triangle-left,
// .grammar .triangle-right {
//     width: 0;
//     height: 0;
//     border-left: 50px solid transparent;
//     border-right: 50px solid transparent;
//     border-bottom: 50px solid $black-color;
//     margin: 0 20px;
// }
.grammar .triangle-left {
    width: 100px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid $black-color;
    margin: 0 20px;
    align-items: left;
}

.grammar .triangle-right {
    width: 100px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid $black-color;
    margin: 0 20px;
    margin-left: auto;
}

.grammar .text-box {
    border: 2px solid $black-color;
    padding: 20px;
    width: 550px;
    height: 190px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    margin-top: 12px;
    border-radius: 10px;
}

.grammar textarea {
    border: 2px solid $black-color;
    padding: 20px;
    width: 550px;
    height: 190px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: $white-color;
}



/*GRAMMAR*/





