<form id="correctionForm" method="post" action="/submit">
    <div class="grammar">
        <div class="correction-container">
            <div class="row">
                <div class="col">
                    <div class="triangle-left"></div>
                </div>
                <div class="col">
                    <div class="triangle-right"></div>
                </div>
            </div>

            <div class="row" style="justify-content: center;">
                <div class="form-and-textbox">
                    <textarea id="textToCorrect" name="textToCorrect" rows="1" cols="50" placeholder="Enter text to correct"></textarea>
                    <div class="text-box">The computer screen is cracked and needs to be replaced.</div>
                </div>
            </div>

            <div class="row">
                <button id="submitButton" class="button">CORRECTED</button>
            </div>


        </div>
    </div>
</form>

