<div class="container">

    <img src="img/logo.png" alt="Sehilnlf" style="max-width: 60%; height: auto; justify-content: center;">
    
    <p style="font-weight: bold;">ENGLISH ERROR CORRECTION TOOL</p>

    <div class="step-text" style="text-align: center; margin-top: 10px; margin-left: 0px">
        <div class="p">Step 1: Check typing error</div>
        <div class="p">Step 2: Check grammar error</div>
    </div>

    <p></p>
    <a href="/typing" class="button" style="margin-top:40px">START</a>
    
</div>
