<div class="container">

    <img src="img/logo.png" alt="Sehilnlf" style="max-width: 60%; height: auto; justify-content: center;">
    
    <p>english error correction tool</p>

    <a href="#" class="button">START</a>
    
</div>
