<form id="correctionForm" method="post" action="/typing">
    <div class="typing">
        <div class="correction-container">

            <div class="row" style="align-items: center;">
                <div class="col-1">
                    <div class="triangle-left"></div>
                </div>
                <div class="col-9">
                    <div class="step-text">Step 1: Check typing error</div>
                </div>
                <div class="col-2">
                    <div class="triangle-right"></div>
                </div>
            </div>



            <div class="row" style="justify-content: center;">
                <div class="form-and-textbox">
                    <textarea id="textToCorrect" name="textToCorrect" rows="50" cols="50">{{this.textToCorrect}}</textarea>
                    
                    <div class="suggestions">
                        {{#each suggestions}}
                        <div class="error-row">{{this.word}}</div>
                        <div class="suggestion-row">
                            {{#each this.suggestions}}
                                <div class="suggestion">{{this}}</div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>

                </div>
            </div>

            <div class="row" style="gap: 40px;">

                <button id="submitButton" class="button">CHECK ERROR</button>
         
                <a href="/grammar" class="button">NEXT STEP</a>


            </div>


        </div>
    </div>
</form>

